<section class="section">
    <div class="container">
      <h1 class="title">Попытки пользователя: <%= login %> на уровне: <%= level_id %></h1>
  
      <% if (attempts.length > 0) { %>
        <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Очки</th>
              <th>Собрано</th>
              <th>повреждения</th>
              <th>Дата записи</th>
            </tr>
          </thead>
          <tbody>
            <% attempts.forEach(attempt => { %>
              <tr>
                <td><%= attempt.points %></td>
                <td><%= attempt.collected %></td>
                <td><%= attempt.hits %></td>
                <td><%= new Date(attempt.record_date).toLocaleString() %></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <p>Нет записей о попытках на этом уровне.</p>
      <% } %>
    </div>
  </section>